/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
}

header nav:nth-of-type(2) {
	padding:1em;
	
	display:grid;
	align-content:start;
	gap:1em;
	
	
	/* JOUW CODE HIER - stap 1 */
	position:absolute;

	
	min-width:12em;
	max-width:90%;
	
	/* transform:translateY(-250%); */
	display:none;
	
  }
  
  /* als menu open is */
  nav:nth-of-type(2).open{
	/* transform:translateY(0%); */
	display: initial;
  }

  img{
	max-width: 90vw;
  }

 /* Content naar beneden voor nav menue */
  main{
	transition:.2s;
  }

  main.open{
	transform:translateY(15em);
	transition:.2s;
  }

  footer{
	transition:.2s;
  }

  footer.open{
	transform:translateY(15em);
	transition:.2s;
  }